# Module 2 Assignment

## Data Importing, Cleaning, and Transforming

This assignment's purpose is to gain experience importing, exploring, cleaning, and transforming data with pandas.

### Task 2: Data Importing

In [10]:
import pandas as pd

# Loads the csv file
data = pd.read_csv("./Dataset_for_Module_2_Assignment.csv")

df = pd.DataFrame(data)
# Displays the first 5 rows of the data
print("First 5 rows of data:")
df.head()

First 5 rows of data:

,order_id,customer_name,order_date,total_amount,status,category,region,priority
0,1000,Grace Lee,2022-12-27,290.94,shipped,Furniture,North,Medium
1,1001,David Wilson,2022-10-13,369.45,PENDING,furniture,North,Low
2,1002,Henry Martin,2022-09-30,649.46,PENDING,furniture,West,Low
3,1003,Emma Davis,2023-01-04,575.07,Pending,garden,East,Low
4,1004,Grace Lee,2022-03-03,362.54,Shipped,electronics,South,High

In [12]:
print("Shape of the data:")
data.shape

Shape of the data:

(502, 8)

In [22]:
# getting the columns from the csv file.
columns = df.columns

print("Columns:")
# Printing the columns in a comma-delimited list
print(", ".join(str(column) for column in columns))

types = df.dtypes

print("\nTypes:")
# Printing the column types in a comma-delimited list
print(", ".join(str(type) for type in types))

df.duplicated()

Columns:
order_id, customer_name, order_date, total_amount, status, category, region, priority

Types:
int64, object, object, float64, object, object, object, object

0      False
1      False
2      False
3      False
4      False
       ...
497    False
498    False
499    False
500    False
501    False
Length: 502, dtype: bool